APP_TITLE=Сервис выполнения техобслуживания ТС

# параметры для подключения к базе данных:
DATABASE_URL=sqlite+aiosqlite:///./toir.db

###############################################################################

# АКТИВАТОР ЗАГРУЗКИ ДАННЫХ ИЗ CSV-ФАЙЛА:

# # загрузка динамических данных (то, что будет поступать ежедневно)
UPLOAD_DATA_FROM_CSV=True

# # часть имени файла (день) для загрузки dataset:
DATE_IN_DATA=2025_05_28

###############################################################################
# ПОЛЬЗОВАТЕЛИ

# Настройка секретного слова для JWT
SECRET=secret_word

# Если надо при инициализации базы данных создать первого супеюзера:
FIRST_SUPERUSER_EMAIL=admin@admin.ru
FIRST_SUPERUSER_PASSWORD=password
SUPERUSER_NAME=Admin
SUPERUSER_SURNAME=Adminov
