APP_TITLE=Сервис выполнения техобслуживания ТС

# параметры для подключения к базе данных:
DATABASE_URL=sqlite+aiosqlite:///./toir.db

###############################################################################
# активатор загрузки данных из csv-файла:

# # загрузка статических файлов (пре-наполнение базы ПЕРЕД стартом парсинга)
UPLOAD_STATIC_DATA_FROM_CSV=False
# UPLOAD_STATIC_DATA_FROM_CSV=True

# # загрузка динамических данных (то, что будет поступать ежедневно)
UPLOAD_DATA_FROM_CSV=False
# UPLOAD_DATA_FROM_CSV=True

###############################################################################
# ПОЛЬЗОВАТЕЛИ

# Настройка секретного слова для JWT
SECRET=secret_word

# Если надо при инициализации базы данных создать первого супеюзера:
CREATE_SUPERUSER=False
FIRST_SUPERUSER_EMAIL=admin@admin.ru
FIRST_SUPERUSER_PASSWORD=password
SUPERUSER_NAME=Admin
SUPERUSER_SURNAME=Adminov
