APP_TITLE=Сервис выполнения техобслуживания ТС

# будем ли использовать PostgreSQL (или оставим sqlite):
DB_IN_PG=True

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_HOST=localhost
DB_PORT=5432

# Настройка секретного слова для JWT
SECRET=secret

# Создание первого юзера (суперпользователя) при инициализации базы данных:
FIRST_SUPERUSER_EMAIL=adminov.aa@atu.mmk.ru
FIRST_SUPERUSER_PASSWORD=admin_password
SUPERUSER_NAME=Admin
SUPERUSER_SURNAME=Adminov
